<last-episode-title>
    <template slot="title-place">
        {{> '@title'}}
    </template>
    <template slot="title-effect-place">
        <h2 class="section-title-effect">{{ effect }}</h2>
    </template>
    
</last-episode-title>